.search-box {
    border-radius: 20px;
    outline: none;
    padding: 10px;
    width: 300px;
    margin-bottom: 30px;
    font-family: Wallpoet;
    color: azure;
    background: linear-gradient(
        to left,
        rgb(129, 152, 214) 0%,
        rgba(0, 128, 128, 1) 100%
      );
  }

   ::placeholder{
    color: azure;
  }